<%- include('partials/header.ejs'); -%>

    <style>
        
        body,html {
  margin: 0;
  font-family: system-ui, sans-serif;
  overflow-x: hidden;

}
 #mhi{
        display: none;
    }

.wave-container {
  position: relative;
  background: #09F;
  color: #FFF;
  text-align: center;
  width: 100vw ;
  overflow: hidden;
}
h2 {
  font-size: 2rem;
  margin: 3rem 1.25rem 1rem 1.25rem;
}
p {
  font-size: 1.2rem;
  margin: 0 1.25rem 2rem 1.25rem;
}
	@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
 margin: 0;
 padding:0; 
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;	
	
}	
     
    nav{
                        padding: 0px 60px;

        }
        nav ul {
            /* background: #1b1b1b; */
            height: 80%;
            width: 100%;
                                    text-decoration: none;

            list-style: none;

        }

        nav ul li {
            line-height: 50px;
                                    text-decoration: none;

            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        }

        nav ul li a {
            position: relative;
            color: white;
            text-decoration: none;
            font-size: 18px;
            padding-left: 30px;
            font-weight: 500;
            display: block;
                                    text-decoration: none;

            width: 100%;
            border-left: 3px solid transparent;
        }

        nav ul li.active a {
                                    text-decoration: none;

            color: cyan;
            background: #1e1e1e;
            border-left-color: cyan;

        }

        nav ul ul {
            position: static;
            display: none;
        }

        nav ul .feat-show.show {
            display: block;
        }

        nav ul .an-show.show2 {
            display: block;
        }

        nav ul .ant-show.show3 {
            display: block;
        }

        nav ul .bi-show.show4 {
            display: block;
        }

        nav ul .bio-show.show5 {
            display: block;
        }

        nav ul .bip-show.show6 {
            display: block;
        }

        nav ul .co-show.show7 {
            display: block;
        }

        nav ul .den-show.show8 {
            display: block;
        }

        nav ul .med-show.show9 {
            display: block;
        }

        nav ul .mib-show.show10 {
            display: block;
        }

        nav ul .mir-show.show11 {
            display: block;
        }

        nav ul .oc-show.show12 {
            display: block;
        }

        nav ul .pat-show.show13 {
            display: block;
        }

        nav ul .pha-show.show14 {
            display: block;
        }

        nav ul .phm-show.show15 {
            display: block;
        }

        nav ul .phs-show.show16 {
            display: block;
        }

        nav ul .phsi-show.show17 {
            display: block;
        }

        nav ul .psy-show.show18 {
            display: block;
        }

        nav ul .sur-show.show19 {
            display: block;
        }

        nav ul .the-show.show20 {
            display: block;
        }

        nav ul .yg-show.show21 {
            display: block;
        }

        nav ul .ve-show.show22 {
            display: block;
        }

        nav ul ul li {
                        text-decoration: none;
            
            line-height: 42px;
            border-bottom: none;
        }

        nav ul ul li a {
                        text-decoration: none;

            font-size: 17px;
            color: #e6e6e6;
            padding-left: 30px;
            text-decoration: none;
        }

        nav ul li.active ul li a {
            color: #e6e6e6;
                        text-decoration: none;

            background: #1b1b1b;
            border-left-color: transparent;

        }

        nav ul ul li a:hover {
                        text-decoration: none;

            color: cyan !important;
            background: #343a40 !important;
        }

        nav ul li a span {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            font-size: 22px;
            transition: transform 0.4s;
        }

        nav ul li a span.rotate {
            transform: translateY(-50%) rotate(-180deg);
        }

footer{
	background: #1c2331
}
.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: relative;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: scroll !important;
    margin-top: -30px;
    left: 100%;
}
@media screen and (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .wave-container{
      width: 105vw !important;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }
    nav ul li a {
            font-size: large !important;
        }
        #userm{
            font-size: large !important;
        }
        #userm:hover{
            color:cyan;
        }
        #logo{
                float:right;
                margin: 5px auto;
        }
        nav ul li a {

            font-size: 18px !important;
        }
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
 .icc {
            width: 35px;
            height: 35px;
        }

        .icc:hover {
            opacity: 0.6;
        }

        .sBlog:hover {
            box-shadow: 6px 8px 8px 6px rgba(0, 0, 0, 0.9);
        }

        .mainNew:hover {
            background: rgba(255, 255, 255, 0.9);
        }

        .sBlog {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .mainNew {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .show-menu {
            left: 0px !important;
            transition: 1s;
        }

        .list-wrapper {
            padding: 15px;
            overflow: hidden;
        }

        .list-item {
            border: 1px solid #EEE;
            background: #FFF;
            margin-bottom: 10px;
            padding: 10px;
            box-shadow: 0px 0px 10px 0px #EEE;
        }

        .list-item h4 {
            color: #FF7182;
            font-size: 18px;
            margin: 0 0 5px;
        }

        .list-item p {
            margin: 0;
        }

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

        #filter {
            display: none;
        } 
        



    @media only screen and (min-width: 990px) {
        #sidenav{
                height: 110%;
                margin-top: -8px;
                margin-bottom: -55px;
                box-sizing: border-box;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;

  overflow-x: hidden;
  padding-top: 20px;
        }
#mm{
  min-width: 600px;
}
        #main{
            margin-left: 10%;
        }
        #dclose {

            display: none;
        }
        .m-view{
            display: none;
        }
    }
    .btn-group button a{
                font-size: 15px !important;
                /* line-height: -10px !important; */

            }
    @media only screen and (min-width: 824px) and (max-width: 990px) {

        #sidenav{
                height: 110%;
                margin-top: -8px;
                margin-bottom: -55px;
                box-sizing: border-box;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;

  overflow-x: hidden;
  padding-top: 20px;
        }
        .m-view{
            display: none;
        }
#dclose {

            display: none;
        }

    }
    #icon-all{
        width: 70vw !important;
        margin: 5px auto;
        text-align: center;
    }
    .btn-group {
                position: relative;
                left: 0%;
                min-width: 70%;
                height: 3.2rem;
                text-align: center;
            }

        @media only screen and (max-width: 824px) {

            .sidebar {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: -30px;
                background-color: #111;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }
            #logos{
                font-size: 1rem !important;
                margin-left: -20% !important;
            }
            #l-foot{
                font-size: 0.9rem !important;
                font-weight: normal !important;
            }
            #email{
                font-size: 15px;
                width: 95vw !important;
            }
            #f-foot{
font-size: 0.9rem !important;
                font-weight: normal !important;
            }
            #main{
                text-align: center;
                margin: 3% auto;
            }

            .btn-group {
                position: relative;
                left: 0%;
                min-height: 10vh;
                min-width: 75%;
                text-align: center;
            }

            .btn-group button a{
                font-size: 8px !important;
                /* line-height: -10px !important; */

            }


/* 
            #cred{
                margin-top:20px;
                text-align: center;
                justify-content: space-evenly;
            } */

            #mhide{
                display: none;
            }
           
            #filter {
                position: absolute;
                left: 10px;
                top: 1%;

                display: inline-block;
                z-index: 100;
                /* box-shadow: 4px 5px 6px black; */
            }

            .sidenav .closebtn {
                position: absolute;
                top: 10;
                right: 15px;
                text-decoration: none;

                /* background-color: gray; */
                font-size: 36px;
                margin-left: 95%;
            }
            
            #dclose{
                color:white !important;
                position: absolute;
                left:85%;
                text-decoration: none !important;
                top:-2%;
                margin-bottom:8%;
                /* background-color: tomato; */
            }
        }











@media screen and (min-width: 900px){
  
  .sidebar{
    display: none;
  }
  #filter{
    display: none;
  }
}
    </style>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>



<!-- <% if(error.length>0){%>
<div class="alert alert-danger container" style="margin:3% auto;text-align: center;max-width: 80%;"><%=error%></div>
<% }if(success.length>0){%>
<div class="alert alert-success container" style="margin:3% auto;text-align: center;max-width: 80%;"><%=success%>
</div>
<% } %> -->





<div class="wave-container naimum" style="width: 100vw;margin-top: -6px;">
  <h2>Apply for Internship!</h2>
  <p>Thanks for Showing Interest in Us! Apply here for Internship and learn a lot in the process</p>
</div>


<% if(error.length>0){%>
<div class="alert alert-danger container" style="margin:3% auto;text-align: center;max-width: 80%;"><%=error%></div>
<% }if(success.length>0){%>
<div class="alert alert-success container" style="margin:3% auto;text-align: center;max-width: 80%;"><%=success%></div>
<% } %>

<div class="row mx-auto" style="margin-left: 7%;width: 100vw;" >
  <div class="col-lg-6 col-sm-10" style="max-width: 90vw;">
    <img src="https://images.vervemobi.com/banner_hiring.png" style="max-width:90%;height:500px;margin-left:5%;margin-top:10%">
  </div>
  

 



 <div id="mm" class="container emp-profile col-lg-5 col-sm-10" style="border-radius:25px;border:1px solid gray;margin-top:2%;margin-bottom:8%;margin-left:5%;max-width:90vw;background:#f1f1f1;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card border-0 p-3" style="background:#f1f1f1">
            
            <form action="/applyintern" method="POST">
            <div class="card-body">
                
                <div class="row my-2">
                        <label for="skills" class="col-sm-4 control-label"><b>Name:</b></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="name" placeholder="Name" required>
                        </div>
                    
                </div>
                <div class="row my-2">
                    
                        <label for="skills" class="col-sm-4 control-label"><b>Email:</b></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"   name="email" placeholder="Email" required>
                        </div>
                </div>
                <div class="row my-2">
                    
                        <label for="skills" class="col-sm-4 control-label"><b>Mobile:</b></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="phoneNumber" placeholder="Mobile" required>
                        </div>
                    
                </div>
                <div class="row my-2">
                        <label for="skills" class="col-sm-4 control-label"><b>College:</b></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="college" placeholder="College" required>
                        </div>
                    
                </div>
                <hr>
                <div class="row my-2">
                    
                        <label for="skills" class="col-sm-4 control-label"><b>Upload CV:</b></label>
                        <div class="col-sm-8" >
                            <input type="file" class="form-control"  name="CV" placeholder="CV" style="height:50px;font-size: 12px;" required >
                        </div>
                    
                </div>
                <hr>
                 <div class="row my-2">
                         <label for="skills" class="col-sm-4 control-label"><b>Why Should We Hire You?</b></label>
                        <div class="col-sm-8" style="">
                            <textarea type="text" class="form-control"  name="hire" placeholder="Why Should we Hire you?" style="height:150px" required></textarea>
                        </div>
                    
                </div>
                <div class="row my-3">
                    <button class="btn btn-info mx-auto px-4" >Submit</button>
                </div>
            </div>
            
            </form>
            
        </div>
    </div>
</div>



<script>
function myFunction() {
  var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 6000);
}


</script>
    
<%- include('partials/footertemplate.ejs'); -%>

</body>
</html>