<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!-- ------------------------------------? -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style_1.css" rel="stylesheet" type="text/css" />
    <!-- Modernizr JS -->
    <script src="js/modernizr-3.5.0.min.js"></script>

    <style>
        @media screen and (min-width: 1000px) {
            #wrap {
                margin-left: 15%;
            }
              #timesm{
          display: none !important;
      }
        }
    </style>
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/responsee.css">
    <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="owl-carousel/owl.theme.css">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="css/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext'
        rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/validation.js"></script>
    <link href="css/animate.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/owl.theme.default.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/slick/slick.css" rel="stylesheet">
    <link href="lib/slick/slick-theme.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <!-- <link href="css3/bootstrap.css" rel="stylesheet"> -->

    <!-- FontAwesome Icons core CSS -->
    <!-- <link href="css3/font-awesome.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="css3/style.css" rel="stylesheet"> -->

    <!-- Responsive styles for this template -->
    <!-- <link href="css3/responsive.css" rel="stylesheet"> -->

    <!-- Colors for this template -->
    <link href="css3/colors.css" rel="stylesheet">

    <title>My Medical Times</title>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

        body,
        html {
            overflow-x: hidden;
            background: #f0f0f0;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;

        }

        .post-media a img {
            max-height: 400px !important;
        }

        nav ul li.active ul li a {
            color: #e6e6e6;
            text-decoration: none;
            font-size: 16px !important;
            background: rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            border-left-color: transparent;

        }

        .sidebar .text {
            color: white;
            font-size: 12px !important;
            font-weight: 600;
            line-height: 65px;
            text-align: center;
            background: #1e1e1e;
            letter-spacing: 1px;
        }

        .text-thin:hover {
            transform: translateX(5px) scale(1.05, 1.05);
            transition: 0.7s;

        }

        nav {
            padding: 0px 60px;

        }

        /* ----------------------------------search bar--------------------------- */


       
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);




.pira {
  height: 60px;
  font-size: 55px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.pira:focus:hover {
  border-bottom: 2px solid whitesmoke;
}

.pira:focus {
  width: 220px;
  z-index: 1;
  border-bottom: 2px solid whitesmoke;
  cursor: text;
}
.pura{
  height: 60px;
  width: 63px;
  display: inline-block;
  background-color: transparent !important;
  float: right;
  /* background: url('http://www.w3.org/2000/svg') center center no-repeat; */
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}
.pura:hover {
  opacity: 0.8;





}


        /* ----------------------------------------search bar ends----------------------------------------- */
        nav ul {
            /* background: #1b1b1b; */
            height: 80%;
            width: 100%;
            text-decoration: none;

            list-style: none;

        }

        nav ul li {
            line-height: 50px;
            text-decoration: none;

            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        }

        nav ul li a {
            position: relative;
            color: white;
            text-decoration: none;
            font-size: 14px !important;
            padding-left: 30px;
            font-weight: 500;
            display: block;
            text-decoration: none;

            width: 100%;
            border-left: 3px solid transparent;
        }

        .margin-bottom:hover {
            opacity: 0.7;
            transition: 0.6s;
        }

        .activer {
            text-decoration: none;

            color: cyan;
            width: 100%;
            background: #1e1e1e;
            border-left-color: cyan;

        }

        .text-more-info {
            background-color: #F65058 !important;
            text-transform: uppercase;
            padding: 15px 30px;
            text-align: center;
            transition: 0.8s;
            bottom: -70px !important;
            width: 180px;
            color: whitesmoke !important;
      margin: auto;

            text-decoration: none !important;
            height: 50px;
                        margin-top: 11% !important;

            margin-bottom: 16%;
            font-size: 20px;
        }

        .text-more-info:hover {
            transition: 0.8s;

            background-color: #474747 !important;
            color: white !important;
        }

        .text-primary-hover {
            color: #002B5C;
            text-decoration: none !important;
        }

        .margin-m-bottom {
            max-height: 400px;
            margin-top:3%;
        }

        nav ul li.active a {
            text-decoration: none;
            width: 100%;
            color: cyan;
            background: #1e1e1e;
            border-left-color: cyan;

        }

        nav ul ul {
            position: static;
            display: none;
        }

        nav ul .feat-show.show {
            display: block;
        }

        nav ul .an-show.show2 {
            display: block;
        }

        nav ul .ant-show.show3 {
            display: block;
        }

        nav ul .bi-show.show4 {
            display: block;
        }

        .show20 {
            display: block;
        }

        nav ul .bio-show.show5 {
            display: block;
        }

        nav ul .bip-show.show6 {
            display: block;
        }

        nav ul .co-show.show7 {
            display: block;
        }

        nav ul .den-show.show8 {
            display: block;
        }

        nav ul .med-show.show9 {
            display: block;
        }

        nav ul .mib-show.show10 {
            display: block;
        }

        nav ul .mir-show.show11 {
            display: block;
        }
.tcut{
   max-width: 380px !important; 

    }
        nav ul .oc-show.show12 {
            display: block;
        }

        nav ul .pat-show.show13 {
            display: block;
        }

        nav ul .pha-show.show14 {
            display: block;
        }

        nav ul .phm-show.show15 {
            display: block;
        }

        nav ul .phs-show.show16 {
            display: block;
        }

        nav ul .phsi-show.show17 {
            display: block;
        }

        nav ul .psy-show.show18 {
            display: block;
        }

        nav ul .sur-show.show19 {
            display: block;
        }

        nav ul .the-show.show20 {
            display: block;
        }

        nav ul .yg-show.show21 {
            display: block;
        }

        .show60 {
            display: block;
        }


        nav ul .ve-show.show22 {
            display: block;
        }

        nav ul ul li {
            text-decoration: none;
            width: 100%;

            line-height: 42px;
            border-bottom: none;
        }

        nav ul ul li a {
            text-decoration: none;

            font-size: 17px;
            color: #e6e6e6;
            width: 100%;
            padding-left: 30px;
            text-decoration: none;
            color: #e6e6e6;
            text-decoration: none;

            background: rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            border-left-color: transparent;
        }

        nav ul li.active ul li a {
            color: #e6e6e6;
            width: 100% !important;
            /* margin-left:-20px; */
            text-decoration: none;

            font-size: 16px;
            background-color: rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            border-left-color: transparent;

        }

        nav ul ul li a:hover {
            text-decoration: none;

            color: cyan !important;
            background: #343a40 !important;
        }

        nav ul li a span {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            font-size: 22px;
            transition: transform 0.4s;
        }

        .social-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: -10px;
        }

        .social-buttons__button {
            margin: 10px 5px 0;
        }
 .pcut{

   max-width: 380px; 
   height: 60px;
  overflow: hidden;
  text-overflow: ellipsis !important; 

    }
        .social-button {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            width: 70px;
            height: 70px;
            text-decoration: none;
        }

        .social-button__inner {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border-radius: 100%;
            background: #fff;
            text-align: center;
        }

        .social-button i,
        .social-button svg {
            position: relative;
            z-index: 1;
            transition: 0.3s;
        }

        .social-button i {
            font-size: 28px;
        }

        .social-button svg {
            height: 40%;
            width: 40%;
        }

        .social-button::after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            display: block;
            width: 0;
            height: 0;
            border-radius: 100%;
            transition: 0.3s;
        }

        .social-button:focus,
        .social-button:hover {
            color: #fff;
        }

        .social-button:focus::after,
        .social-button:hover::after {
            width: 100%;
            height: 100%;
            margin-left: -50%;
        }

        .social-button--mail {
            color: #0072c6;
        }

        .social-button--mail::after {
            background: #0072c6;
        }

        .social-button--facebook {
            color: #3b5999;
        }

        .social-button--facebook::after {
            background: #3b5999;
        }

        .social-button--linkedin {
            color: #0077b5;
        }

        .social-button--linkedin::after {
            background: #0077b5;
        }

        .social-button--github {
            color: red;
        }

        .social-button--github::after {
            background: red;
        }

        .social-button--codepen {
            color: #212121;
        }

        .social-button--codepen::after {
            background: #212121;
        }

        .social-button--steam {
            color: #7da10e;
        }

        .social-button--steam::after {
            background: #7da10e;
        }

        .social-button--snapchat {
            color: #eec900;
        }

        .social-button--snapchat::after {
            background: #eec900;
        }

        .social-button--twitter {
            color: #55acee;
        }

        .social-button--twitter::after {
            background: #55acee;
        }

        .social-button--instagram {
            color: pink;
        }

        .social-button--instagram::after {
            background: pink;
        }

        .social-button--npmjs {
            color: #c12127;
        }

        .social-button--npmjs::after {
            background: #c12127;
        }

        nav ul li a span.rotate {
            transform: translateY(-50%) rotate(-180deg);
        }

        footer {
            background: #1c2331
        }

        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu a::after {
            transform: rotate(-90deg);
            position: relative;
            right: 3px;
            top: 40%;
        }

        #previ:hover {
            background-color: rosybrown;
            color: black;
        }

        #nexti:hover {
            background-color: rosybrown;
            color: black;
        }

        .dropdown-submenu:hover .dropdown-menu,
        .dropdown-submenu:focus .dropdown-menu {
            display: flex;
            flex-direction: column;
            position: scroll !important;
            margin-top: -30px;
            left: 100%;
        }

        .activeri {
            background-color: blueviolet !important;
            color: black;
        }

        @media (max-width: 992px) {
            .dropdown-menu {
                width: 50%;
            }

            .dropdown-menu .dropdown-submenu {
                width: auto;
            }

            nav ul li.active ul li a {
                min-width: 205px;

            }
            .margin{
                margin-top: -30% !important;
            }
        }

        @media screen and (max-width: 992px) {

            nav ul li a {
                font-size: large !important;
            }

            #userm {
                font-size: large !important;
            }

            #userm:hover {
                color: cyan;
            }

            #dise {
                margin-left: 20%;
                font-weight: 900;
            }

            #logo {
                float: right;
                margin: 5px auto;
            }

            nav ul li a {

                font-size: 18px !important;
            }
 .pcut{

   width: 310px !important; 
   height: 58px;
  overflow: hidden;
  text-align:justify;
  text-overflow: ellipsis !important; 

    }
    .tcut{
   max-width: 330px !important; 
   text-align: justify;

    }
    .margin-m-bottom{
        margin-top: 9% !important;
    }
.text-more-info{
      background-color: green !important;
      text-transform: uppercase;
      padding: 15px 30px;
      text-align: center;
      transition: 0.8s;
      bottom: -80px !important;
      width: 180px;
              color:whitesmoke !important;

      text-decoration: none !important;
      height: 50px;
      margin:auto;
      margin-top:18% !important;

      font-size: 20px;
    }
        }

        /* .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 10px 5px;
    } */

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa:hover {
            opacity: 0.7;
        }

        .fa-linkedin {
            background: #007bb5;
            color: white;
        }

        .fa-youtube {
            background: #bb0000;
            color: white;
        }

        .icc {
            width: 35px;
            height: 35px;
        }

        .icc:hover {
            opacity: 0.6;
        }

        .sBlog:hover {
            box-shadow: 6px 8px 8px 6px rgba(0, 0, 0, 0.9);
        }

        .mainNew:hover {
            background: rgba(255, 255, 255, 0.9);
        }

        .sBlog {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .mainNew {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .show-menu {
            left: 0px !important;
            transition: 1s;
        }

        .list-wrapper {
            padding: 15px;
            min-width: 80%;

            overflow: hidden;
        }

        .dislist {
            padding: 15px;
            min-width: 90%;
            margin-left: 10%;
            overflow: hidden;
        }

        .dislist .list-item {
            border: 1px solid #EEE;
            background: #FFF;
            margin-bottom: 10px;
            padding: 10px;
            width: 40% !important;
            height: 50px !important;
            box-shadow: 0px 0px 10px 0px #EEE;
        }

        .margin-bottom {
            max-height: 200px;
            width: 100%;
            border-radius: 5px;
            size: cover;
        }

        .text-thin {
            font-size: 1.1rem;
            font-weight: 600;
            width: 85%;
        }

        .list-item {
            border: 1px solid #EEE;
            background: #FFF;
            margin-bottom: 10px;
            padding: 10px;
            box-shadow: 0px 0px 10px 0px #EEE;
        }

        .list-item h4 {
            color: #FF7182;
            font-size: 18px;
            margin: 0 0 5px;
        }

        .list-item p {
            margin: 0;
        }

        .simple-pagination ul {
            margin: 0 0 20px;
            padding: 0;
            list-style: none;
            text-align: center;
        }

        .simple-pagination li {
            display: inline-block;
            margin-right: 5px;
        }

        .simple-pagination li a,
        .simple-pagination li span {
            color: #666;
            padding: 5px 10px;
            text-decoration: none;
            border: 1px solid #EEE;
            background-color: #FFF;
            box-shadow: 0px 0px 10px 0px #EEE;
        }

        .simple-pagination .current {
            color: #FFF;
            background-color: #FF7182;
            border-color: #FF7182;
        }

        .simple-pagination .prev.current,
        .simple-pagination .next.current {
            background: #e04e60;
        }

        /* -----------------------newly added----------------------------------------------- */


        #filter {
            display: none;
        }


        @media only screen and (min-width: 990px) {
            .sidebar {
                position: scroll;
                width: 350px;
                left: 0;
                background: #1b1b1b;

                height: 100%;
                margin: 0px;


            }

            nav ul li.active ul li a {
                width: 100% !important;
            }

            #sidenav {
                height: 110%;
                margin-top: -8px;
                margin-bottom: -55px;
                box-sizing: border-box;
                position: sticky;
                z-index: 1;
                top: 0;
                left: 0;

                overflow-x: hidden;
                padding-top: 20px;
            }

            #logos {
                margin-top: -10% !important;
            }

            #main {
                margin-left: 10%;
            }
.mview{
            display:none;
        }
            #buts {
                margin-left: -17%;
            }

            #dclose {

                display: none;
            }

            .m-view {
                display: none;
            }
        }

        .btn-group button a {
            font-size: 15px !important;
            /* line-height: -10px !important; */

        }
        

        @media only screen and (min-width: 724px) and (max-width: 990px) {

            #add {
                justify-content: center !important;
                margin-left: 15% !important;
                padding-left: 30vw !important;
            }

            #buts {
                margin-left: -20% !important;

            }

            /* .m-view{
            display: none;
        } */

            /* #mobi{
           margin-left: 30% !important;
       }
 footer{
                text-align: center !important;
            } */
        }

        #icon-all {
            width: 70vw !important;
            margin: 5px auto;
            text-align: center;
        }

        .btn-group {
            position: relative;
            left: 0%;
            min-width: 70%;
            height: 3.2rem;
            text-align: center;
        }

        @media only screen and (max-width: 994px) {

            .sidebar {
                height: 100%;
                width: 0;
                position: fixed;
                margin-left: -10px;
                z-index: 90;
                top: 0;
                left: -20px;
                background-color: #111;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }
              #times{
        display: none;
      }
               .text-more-info {
            background-color: #F65058 !important;
            text-transform: uppercase;
            padding: 15px 30px;
            text-align: center;
            transition: 0.8s;
            bottom: -10px !important;
            width: 180px;
            color: whitesmoke !important;

            text-decoration: none !important;
            height: 50px;
            margin-top: 22% !important;
            margin-bottom: 12%;
            font-size: 20px;
        }

            #rec {
                background-color: #002B5C !important;
                padding: 10px 25px !important;

                font-size: 23px !important;
                color: whitesmoke;
                margin-top: -20% !important;
                margin-bottom: 10% !important;

            }

            #fea {
                background-color: #002B5C !important;
                padding: 10px 25px !important;
                font-size: 23px !important;
                color: whitesmoke;
                margin-top: -12% !important;
                margin-bottom: 5% !important;

            }

            #kic {
                background-color: #002B5C !important;
                padding: 10px 25px !important;
                font-size: 23px !important;
                color: whitesmoke;
                margin-top: -55% !important;
                margin-bottom: 10% !important;


            }

            #kit {
                margin-top: -48% !important;
            }

            footer {
                text-align: center !important;
            }

            #logos {
                font-size: 1rem !important;
                margin-left: -5% !important;
                margin-bottom: 8% !important;
            }

            #l-foot {
                text-align: center;
                font-size: 0.9rem !important;
                font-weight: normal !important;
            }
            
            #email {
                font-size: 15px;
                width: 95vw !important;
                               margin-left: 10% !important;

            }

            #f-foot {
                text-align: center;
                font-size: 0.9rem !important;
                font-weight: normal !important;
            }

            #main {
                text-align: center;
                margin: 3% auto;
            }

            #klogo {
                margin-bottom: -10%;

            }

            #times {
                margin-top: 7% !important;
                margin-bottom: 5% !important;
                margin-right: -4% !important;
            }
            #timesk {
                margin-top: 7% !important;
                margin-bottom: 5% !important;
                margin-right: -4% !important;
            }
 #timesm {
        margin-top: 7% !important;
        margin-bottom: 5% !important;
        margin-right: -4% !important;
      }
            .btn-group {
                position: relative;
                left: 0%;
                min-height: 10vh;
                min-width: 75%;
                text-align: center;
            }

            .btn-group button a {
                font-size: 8px !important;
                /* line-height: -10px !important; */

            }


            /* 
            #cred{
                margin-top:20px;
                text-align: center;
                justify-content: space-evenly;
            } */
            #buts {
                margin-left: -10px;
                                width: 100vw !important;

            }
#pisa{
    margin-left: -30% !important;
}
            #buts a {
                width: 50px !important;
                height: 50px !important;
            }

            #email {
                margin-left: -1% !important;
            }

            #filter {
                position: absolute;
                left: 10px;
                top: 2%;

                display: inline-block;
                z-index: 100;
                /* box-shadow: 4px 5px 6px black; */
            }

            .sidenav .closebtn {
                position: absolute;
                top: 10;
                margin-top: -10%;
                right: 15px;
                text-decoration: none;

                /* background-color: gray; */
                font-size: 36px;
                margin-left: 95%;
            }

            #mobi {
                margin-left: -16%;
                min-width: 90vw;
            }

            /* #buts{
                text-align: center !important;
                margin:2% 20%;
                justify-content: center;
                
            } */
            .dislist {
                margin-left: 10% !important;
            }

            #dclose {
                color: white !important;
                position: absolute;
                left: 85%;
                text-decoration: none !important;
                margin-top: -15%;
                margin-bottom: 8%;
                /* background-color: tomato; */
            }

        }

        /* -------------------------------------newly added-------------------------------------------- */
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>

</head>

<body>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark " id="naa" style="padding-left:20px;">
        <a class="navbar-brand" href="/home" id="logo">
            <h5 class="text-uppercase " id="times"
                style="margin-left:0%;margin-top: 0%;font-weight: bold !important;margin-bottom: 3%;color:snow;font-size: smaller;">
                My Medical Times</h5>
                <h5 class="text-uppercase " id="timesm"
                    style="margin-left:0%;margin-top: 0%;font-weight: bold !important;margin-bottom: 3%;color:snow;font-size: smaller;">
                    My Medical Times</h5>
        </a>
<form class="form-inline mview " id="secure">
    <div class="containery" style="position: relative;margin-right: -70% !important;  ">
        <form action="" autocomplete="on">
            <input id="search" name="search" type="text" class="pira"
                style="color: white !important;font-size: 18px !important;" placeholder="SEARCH">
            <i class="fas fa-search fa-2x" style="color:white !important;margin-top:15px !important;"
                id="isearch"><input class="pura" id="search_submit" value="Rechercher" type="submit"></i>
        </form>
    </div>
</form>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item " style="line-height: 40px;margin-top:5px; " id="home">
                    <a class="nav-link" href="/home" style="padding-left: 15px;font-size: 18px !important;">Home <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item " style="line-height: 40px;margin-top:5px;" id="news">
                    <a class="nav-link " href="/medinews" id="" role="button" data-toggle="" aria-haspopup="true"
                        aria-expanded="false" style="padding-left: 15px;font-size: 18px !important;">
                        Medical News
                    </a>
                    <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:350px;">
                        <a class="dropdown-item"  style="width:340px;background-color: honeydew;color: black;" href="/home/medicalNews">Latest Medical News</a>
                        <a class="dropdown-item" style="width:340px;background-color: honeydew;color: black;" href="/writemedicalnews">Write Medical News</a>

                    </div> -->
                </li>

                <li class="nav-item" style="line-height: 40px;margin-top:5px;" id="disease">
                    <a class="nav-link" href="/maindisease1"
                        style="padding-left: 15px;font-size: 18px !important; ">Disease</a>
                </li>


            </ul>

<form class="form-inline " id="secure">
    <div class="containery" style="position: relative;margin-right: -70% !important;  ">
        <form action="" autocomplete="on">
            <input id="search" name="search" type="text" class="pira"
                style="color: white !important;font-size: 18px !important;" placeholder="SEARCH">
            <i class="fas fa-search fa-2x" style="color:white !important;margin-top:15px !important;"
                id="isearch"><input class="pura" id="search_submit" value="Rechercher" type="submit"></i>
        </form>
    </div>
</form>
            <!-- <span id="cred"> -->
            <% if(!currentUser){ %>
            <a class="btn btn-primary" href="/login" role="button"
                style="margin-top:5px;text-align: center;margin-right: 3%;margin-left:5%;">Login</a>
            <!-- <a href="/profilenav" style="color:#ffffff;margin-top:5px;margin-right: 7%;"> </a> -->

            <%} else{ %>
            <a href="/profilenav"
                style="color:#ffffff;margin-left:20px;margin-right:20px;margin-top:-20px;font-size: 20px;" id="userm"><i
                    class="far fa-users"></i> <%= currentUser.email %></a>
            <a class="btn btn-info" href="/logout" role="button" style="margin-top:5px;">Logout</a>

            <% } %>
            <!-- </span> -->
        </div>
    </nav>


    <!-- <% if(error.length>0){%>
    <div class="alert alert-danger container" style="margin:3% auto;text-align: center;max-width: 80%;"><%=error%></div>
    <% }if(success.length>0){%>
    <div class="alert alert-success container" style="margin:3% auto;text-align: center;max-width: 80%;"><%=success%>
    </div>
    <% } %> -->


    <marquee behavior="scroll" direction="left" class="px-1 bg-primary text-light">*** The chapter you are learning
        today, is going to save someone's life tomorrow. Pay attention ***
    </marquee>
    <!-- --------------------------------newly added--------------------------------------     -->
    <div class="row">
        <div id="filter">
            <button style="width: 50px;height: 50px;border-radius: 50%;background-color:black" onclick="openNav()"><i
                    class="fas fa-bars" style="color:snow"></i></button>
        </div>


        <nav class=" sidebar col-lg-2 col-md-4 col-sm-8 col-xs-12 col-10 sider" id="sidenav"
            style="overflow-x: hidden;color: whitesmoke;">
            <a href="javascript:void(0)" class="closebtn" id="dclose" onclick="closeNav()"
                style="width: 500px;height: 50px;position: absolute;top: -5px;right: 5px;font-size: 50px;color:white;margin-bottom:30px;">&times;</a>
            <!-- <div class="text"> My Medical Times </div> -->

            <ul>
                <!-- --------------------------------newly added--------------------------------------     -->
                <li class="ant-btn m-view">
                    <% if(!currentUser){ %>
                    <a class="btn btn-primary" href="/login" role="button"
                        style="margin-top:5px;text-align: center;width:80% ;margin: 10px 10%;">Login</a>

                    <%} else{ %>
                    <a href="/profilenav" style="color:#ffffff;margin:5px 20%;"> <%= currentUser.email %></a>
                    <a class="btn btn-info" href="/logout" role="button" style="margin-top:5px;">Logout</a>

                    <% } %>
                <li>

                <li class="ant-btnf m-view">
                    <a style="color: white;font-weight: 200;" href="/">Home</a></li>
                <li>
                <li class="ant-btnf m-view">
                    <a style="color: white;font-weight: 200;" href="/maindisease1">Disease</a></li>
                <li>
                <li class="ant-btnf m-view">
                    <a style="color: white;font-weight: 200;" href="/home">Medical News</a></li>
                <li>
                <li class="ant-btnf ">
                    <a style="color: white;font-weight: 200;" href="/application">Apply for writing</a></li>
                <li>
                    <a class="ant-btn"> Anatomy
                        <span class="fas fa-caret-down fourth  buttor"></span>
                    </a>
                    <ul class="ant-show shower ">
                        <li><a href="/anatomy/Clinical Anatomy" style="padding-left:-20px;"> Clinical Anatomy</a> </li>

                        <li><a href="/anatomy/Comporative Anatomy" style="padding-left:-20px;"> Comporative Anatomy</a>
                        </li>

                        <li><a href="/anatomy/embryology" style="padding-left:-20px;"> Embryology</a> </li>
                        <li><a href="/anatomy/histology"> Histology</a> </li>
                        <li><a href="/anatomy/Living Anatomy" style="padding-left:-20px;"> Living Anatomy</a> </li>
                        <li><a href="/anatomy/Neuroanatomy" style="padding-left:-20px;"> Neuroanatomy</a> </li>

                        <li><a href="/anatomy/Osteology"> Osteology</a> </li>
                        <li><a href="/anatomy/Radiographic Anatomy" style="padding-left:-20px;"> Radiographic
                                Anatomy</a> </li>

                        <li><a href="/anatomy/Regional Anatomy"> Regional Anatomy</a> </li>
                        <li><a href="/anatomy/Sectional Anatomy" style="padding-left:-20px;"> Sectional Anatomy</a>
                        </li>
                        <li><a href="/anatomy/Surface Anatomy" style="padding-left:-20px;"> Surface Anatomy</a> </li>
                        <li><a href="/anatomy/Systematic Anatomy" style="padding-left:-20px;"> Systematic Anatomy</a>
                        </li>

                    </ul>
                </li>


                <li>
                    <a class="an-btn"> Anesthesia
                        <span class="fas fa-caret-down third buttor"></span>
                    </a>
                    <ul class="an-show shower ">
                        <li><a href="/Anesthesia/Anesthesiology"> Anesthesiology</a> </li>
                        <li><a href="/Anesthesia/General Anesthesia"> General Anesthesia</a> </li>
                        <li> <a href="/Anesthesia/Local Anesthesia"> Local Anesthesia </a> </li>

                        <li><a href="/Anesthesia/Regional Anesthesia"> Regional Anesthesia</a> </li>

                    </ul>
                </li>


                <li> <a class="feat-btn"> Ayurveda
                        <span class="fas fa-caret-down first buttor"></span>
                    </a>
                    <ul class="feat-show shower ">
                        <li> <a href="/Ayurveda/Agada Tantra"> Agada Tantra</a></li>
                        <li> <a href="/Ayurveda/Ashtang Hridyam"> Ashtang Hridyam </a></li>
                        <li> <a href="/Ayurveda/Ayurveda Itihas"> Ayurveda Itihas </a></li>
                        <li> <a href="/Ayurveda/Bhaishajya Kalpana"> Bhaishajya Kalpana </a> </li>
                        <li> <a href="/Ayurveda/Charak Samhita(Purvardha)"> Charak Samhita(Purvardha)</a></li>
                        <li> <a href="/Ayurveda/Charak Samhita(Uttarardha)"> Charak Samhita(Uttarardha)</a></li>
                        <li> <a href="/Ayurveda/Dravyaguna Vigyan"> Dravyaguna Vigyan </a> </li>
                        <li> <a href="/Ayurveda/Herbal"> Herbal </a></li>
                        <li> <a href="/Ayurveda/Herbal Drug Technology"> Herbal Drug Technology</a></li>
                        <li> <a href="/Ayurveda/Kayachikitsa"> Kayachikitsa </a></li>
                        <li> <a href="/Ayurveda/Kaumarbhritya"> Kaumarbhritya </a></li>
                        <li> <a href="/Ayurveda/Kriya Sharir"> Kriya Sharir </a></li>
                        <li> <a href="/Ayurveda/Padartha Vigyan"> Padartha Vigyan </a></li>
                        <li> <a href="/Ayurveda/Panchkarma"> Panchkarma </a></li>
                        <li> <a href="/Ayurveda/Prasuti Tantra Evum Stri Roga"> Prasuti Tantra Evum Stri Roga </a></li>
                        <li> <a href="/Ayurveda/Rachana Sarir"> Rachana Sarir </a></li>
                        <li> <a href="/Ayurveda/Rasa Shastra"> Rasa Shastra </a></li>
                        <li> <a href="/Ayurveda/Roga Vigyan"> Roga Vigyan </a></li>
                        <li> <a href="/Ayurveda/Salakya"> Salakya </a></li>
                        <li> <a href="/Ayurveda/Shalya "> Shalya </a></li>
                        <li> <a href="/Ayurveda/Swasthavritta"> Swasthavritta </a></li>
                        <li> <a href="/Ayurveda/Vidhi Vaidyak"> Vidhi Vaidyak </a></li>
                        <li> <a href="/Ayurveda/Vikriti Vigyan"> Vikriti Vigyan </a></li>
                        <li> <a href="/Ayurveda/Vyavhar Ayurved"> Vyavhar Ayurved </a></li>
                    </ul>
                </li>



                <li> <a class="bi-btn"> Biochemistry
                        <span class="fas fa-caret-down fourthh buttor"></span>
                    </a>
                    <ul class="bi-show shower ">
                        <li> <a href="/Biochemistry/Analytical Biochemistry"> Analytical Biochemistry</a></li>
                        <li> <a href="/Biochemistry/Animal Biochemistry"> Animal Biochemistry </a></li>
                        <li> <a href="/Biochemistry/Cell biology"> Cell biology </a></li>
                        <li> <a href="/Biochemistry/Cytogenetics"> Cytogenetics</a></li>
                        <li> <a href="/Biochemistry/DNA Typing & Replications"> DNA Typing & Replications</a></li>
                        <li> <a href="/Biochemistry/Enzymology"> Enzymology </a> </li>
                        <li> <a href="/Biochemistry/Genetics"> Genetics</a></li>
                        <li> <a href="/Biochemistry/Medicinal Chemistry"> Medicinal Chemistry </a> </li>
                        <li> <a href="/Biochemistry/Metabolism"> Metabolism </a></li>
                        <li> <a href="/Biochemistry/Molecular biology"> Molecular biology </a> </li>
                        <li> <a href="/Biochemistry/Phytochemistry"> Phytochemistry </a></li>

                        <li> <a href="/Biochemistry/Plant biochemistry"> Plant biochemistry </a></li>
                    </ul>
                </li>
                <li> <a class="bim-btn"> BioInformatics
                        <span class="fas fa-caret-down kle buttor"></span>
                    </a>
                    <ul class="bim-show shower " id="mala">
                        <li> <a href="/BioInformatics/Agricultural BioInformatics">Agricultural BioInformatics</a></li>
                        <li> <a href="/BioInformatics/Forest plant BioInformatics"> Forest plant BioInformatics</a></li>

                        <li> <a href="/BioInformatics/Horticulture BioInformatics"> Horticulture BioInformatics </a>
                        </li>
                        <li> <a href="/BioInformatics/Java for BioInformatics">Java for BioInformatics</a></li>
                        <li> <a href="/BioInformatics/Machine Learning for BioInformatics"> Machine Learning for
                                BioInformatics </a>
                        </li>

                        <li> <a href="/BioInformatics/Medical plant BioInformatics"> Medical plant BioInformatics </a>
                        </li>
                        <li> <a href="/BioInformatics/python for Biology">python for Biology</a></li>


                    </ul>
                </li>

                <li>
                    <a class="bip-btn"> BioPhysics
                        <span class="fas fa-caret-down fifth buttor"></span>
                    </a>
                    <ul class="bip-show shower ">
                        <li><a href="/BioPhysics/Biomechanics"> Biomechanics</a> </li>
                        <li><a href="/BioPhysics/Computational biology"> Computational biology</a> </li>
                        <li><a href="/BioPhysics/Nanotechnology"> Nanotechnology</a> </li>

                        <li><a href="/BioPhysics/physical chemistry"> physical chemistry</a> </li>

                        <li><a href="/BioPhysics/Quantum biology"> Quantum biology</a> </li>
                        <li><a href="/BioPhysics/structural biology"> structural biology</a> </li>

                    </ul>
                </li>


                <li> <a class="bio-btn"> Biotechnology
                        <span class="fas fa-caret-down sixth buttor"></span>
                    </a>
                    <ul class="bio-show shower ">
                        <li> <a href="/Biotechnology/Animal biotechnology"> Animal biotechnology </a></li>
                        <li> <a href="/Biotechnology/Agricultural biotechnology">Agricultural biotechnology</a></li>
                        <li> <a href="/Biotechnology/Cell cycle & division"> Cell cycle & division</a></li>
                        <li> <a href="/Biotechnology/Environmental biotechnology"> Environmental biotechnology </a>
                        </li>
                        <li> <a href="/Biotechnology/Immunology"> Immunology</a></li>
                        <li> <a href="/Biotechnology/Industrial biotechnology"> Industrial biotechnology </a> </li>
                        <li> <a href="/Biotechnology/Medical biotechnology"> Medical biotechnology </a></li>
                        <li> <a href="/Biotechnology/Microbiology"> Microbiology</a></li>

                        <li> <a href="/Biotechnology/Molecular biotechnology"> Molecular biotechnology</a></li>
                        <li> <a href="/Biotechnology/Plant biotechnology"> Plant biotechnology </a></li>
                    </ul>
                </li>


                <li> <a class="co-btn"> Community Medicine
                        <span class="fas fa-caret-down sixthh buttor"></span>
                    </a>
                    <ul class="co-show shower ">
                        <li> <a href="/Community Medicine/Biostatistics"> Biostatistics </a></li>
                        <li> <a href="/Community Medicine/Environmental & occupational Health"> Environmental &
                                occupational Health
                            </a> </li>
                        <li> <a href="/Community Medicine/Epidemiology"> Epidemiology</a></li>
                        <li> <a href="/Community Medicine/Health Policy & Management"> Health Policy & Management </a>
                        </li>
                        <li> <a href="/Community Medicine/Hospital Management"> Hospital Management </a></li>
                        <li> <a href="/Community Medicine/Public Health Nutrition"> Public Health Nutrition</a></li>
                        <li> <a href="/Community Medicine/Public health ethics & laws"> Public health ethics & laws </a>
                        </li>
                        <li> <a href="/Community Medicine/Public health dentistry"> Public health dentistry </a></li>
                    </ul>
                </li>


                <li> <a class="den-btn"> Dentistry
                        <span class="fas fa-caret-down seventh buttor"></span>
                    </a>
                    <ul class="den-show shower ">
                        <li> <a href="/Dentistry/Community dentistry"> Community dentistry </a></li>
                        <li> <a href="/Dentistry/Conservative dentistry & endodontics"> Conservative dentistry &
                                endodontics </a>
                        </li>
                        <li> <a href="/Dentistry/Dental anatomy & oral histology"> Dental anatomy & oral histology</a>
                        </li>
                        <li> <a href="/Dentistry/Dental materials"> Dental materials </a> </li>
                        <li> <a href="/Dentistry/Oral medicine & radiology"> Oral medicine & radiology </a></li>
                        <li> <a href="/Dentistry/Oral pathology"> Oral pathology</a></li>
                        <li> <a href="/Dentistry/Oral surgery"> Oral surgery </a> </li>
                        <li> <a href="/Dentistry/Orthodontics"> Orthodontics </a></li>
                        <li> <a href="/Dentistry/Pedodontics"> Pedodontics</a></li>
                        <li> <a href="/Dentistry/Periodontics"> Periodontics </a></li>
                        <li> <a href="/Dentistry/Prosthodontics"> Prosthodontics </a></li>
                    </ul>
                </li>



                <li> <a class="med-btn"> Medicine
                        <span class="fas fa-caret-down eigth buttor"></span>
                    </a>
                    <ul class="med-show shower ">
                        <li> <a href="/Medicine/Dermatology"> Dermatology</a></li>
                        <li> <a href="/Medicine/Diagnostics"> Diagnostics </a></li>
                        <li> <a href="/Medicine/Emergency Medicine"> Emergency Medicine </a></li>
                        <li> <a href="/Medicine/Forensic medicine & toxicology"> Forensic medicine & toxicology </a>
                        </li>
                        <li> <a href="/Medicine/General medicine"> General medicine</a></li>
                        <li> <a href="/Medicine/Gynecology"> Gynecology</a></li>
                        <li> <a href="/Medicine/Interventional"> Interventional </a> </li>
                        <li> <a href="/Medicine/Naturopathic"> Naturopathic </a></li>
                        <li> <a href="/Medicine/Neurology"> Neurology</a></li>
                        <li> <a href="/Medicine/Nuclear medicine"> Nuclear medicine </a></li>
                        <li> <a href="/Medicine/Opthalmology"> Opthalmology </a></li>
                        <li> <a href="/Medicine/Orthopaedics"> Orthopaedics </a></li>
                        <li> <a href="/Medicine/Pediatrics"> Pediatrics </a></li>
                        <li> <a href="/Medicine/Psychiatry"> Psychiatry </a></li>
                        <li> <a href="/Medicine/Pulmonology"> Pulmonology </a></li>
                        <li> <a href="/Medicine/Radiology"> Radiology </a></li>
                        <li> <a href="/Medicine/Rheumatology"> Rheumatology </a></li>
                        <li> <a href="/Medicine/Therapeutics"> Therapeutics </a></li>
                        <li> <a href="/Medicine/Transfusion medicine"> Transfusion medicine </a></li>
                        <li> <a href="/Medicine/Traumatology"> Traumatology </a></li>
                        <li> <a href="/Medicine/Tropical medicine"> Tropical medicine </a></li>
                        <li> <a href="/Medicine/Venereology"> Venereology </a></li>
                    </ul>
                </li>

                <li> <a class="mib-btn"> Microbiology
                        <span class="fas fa-caret-down nineth buttor"></span>
                    </a>
                    <ul class="mib-show shower ">
                        <li> <a href="/Microbiology/Agriculture Microbiology"> Agriculture Microbiology </a></li>
                        <li> <a href="/Microbiology/Bacteriology"> Bacteriology</a></li>
                        <li> <a href="/Microbiology/Cellular microbiology"> Cellular microbiology </a></li>
                        <li> <a href="/Microbiology/Evolutionary microbiology"> Evolutionary microbiology </a></li>
                        <li> <a href="/Microbiology/Generation microbiology"> Generation microbiology </a></li>
                        <li> <a href="/Microbiology/Evolutionary microbiology"> Evolutionary microbiology </a></li>
                        <li> <a href="/Microbiology/Food microbiology"> Food microbiology </a></li>
                        <li> <a href="/Microbiology/Industrial microbiology"> Industrial microbiology </a></li>
                        <li> <a href="/Microbiology/Medical bacteriology"> Medical bacteriology </a></li>
                        <li> <a href="/Microbiology/Microbial cytology"> Microbial cytology </a></li>
                        <li> <a href="/Microbiology/Microbial ecology"> Microbial ecology </a></li>
                        <li> <a href="/Microbiology/Microbial physiology"> Microbial physiology </a></li>
                        <li> <a href="/Microbiology/Molecular microbiology"> Molecular microbiology </a></li>
                        <li> <a href="/Microbiology/Mycology"> Mycology </a></li>
                        <li> <a href="/Microbiology/Nematology"> Nematology </a></li>
                        <li> <a href="/Microbiology/Parasitology"> Parasitology </a></li>
                        <li> <a href="/Microbiology/Phycology/Algology"> Phycology/Algology </a></li>
                        <li> <a href="/Microbiology/Protozoology"> Protozoology </a></li>
                        <li> <a href="/Microbiology/Systems microbiology"> Systems microbiology </a></li>
                        <li> <a href="/Microbiology/Virology"> Virology </a> </li>
                    </ul>
                </li>


                <li>
                    <a class="mir-btn"> Microscopy
                        <span class="fas fa-caret-down tenth buttor"></span>
                    </a>
                    <ul class="mir-show shower ">
                        <li><a href="/Microscopy/Electron"> Electron</a> </li>
                        <li> <a href="/Microscopy/Optical"> Optical </a> </li>
                        <li> <a href="/Microscopy/Scanning Probe microbiology "> Scanning Probe microbiology </a> </li>
                        <li> <a href="/Microscopy/X-Ray microscopy"> X-Ray microscopy </a> </li>
                    </ul>
                </li>

                <li><a href="/Nutrition and Dietetics/Nutrition and Dietetics" style="      color: white;
"> Nutrition and Dietetics</a> </li>

                <li>
                    <a class="oc-btn"> Occupational Therapy
                        <span class="fas fa-caret-down eleventh buttor"></span>
                    </a>
                    <ul class="oc-show shower ">
                        <li><a href="/Occupational Therapy/Occupational therapy in mental health"> Occupational therapy
                                in mental
                                health</a> </li>
                        <li><a href="/Occupational Therapy/Occupational therapy in neurology"> Occupational therapy in
                                neurology</a>
                        </li>
                        <li><a href="/Occupational Therapy/Occupational therapy in orthopedics"> Occupational therapy in
                                orthopedics</a> </li>
                        <li><a href="/Occupational Therapy/Occupational therapy in prediatrics"> Occupational therapy in
                                prediatrics</a> </li>
                        <li><a href="/Occupational Therapy/Occupational therapy in rehabillitation"> Occupational
                                therapy in
                                rehabillitation</a> </li>
                    </ul>
                </li>



                <li>
                    <a class="pat-btn"> Pathology
                        <span class="fas fa-caret-down twelth buttor"></span>
                    </a>
                    <ul class="pat-show shower ">
                        <li><a href="/Pathology/General pathology"> General pathology</a> </li>
                        <li> <a href="/Pathology/Haematology"> Haematology </a> </li>
                        <li> <a href="/Pathology/Systematic pathology"> Systematic pathology </a> </li>
                    </ul>
                </li>


                <li>
                    <a class="pha-btn"> Pharmacy
                        <span class="fas fa-caret-down thirteenth buttor"></span>
                    </a>
                    <ul class="pha-show shower ">
                        <li> <a href="/Pharmacy/Clinical pharmacy"> Clinical pharmacy </a> </li>
                        <li><a href="/Pharmacy/Computer application in pharmacy"> Computer application in pharmacy </a>
                        </li>
                        <li> <a href="/Pharmacy/Industrial pharmacy"> Industrial pharmacy </a> </li>
                        <li> <a href="/Pharmacy/Pharmaceutics"> Pharmaceutics </a> </li>
                        <li> <a href="/Pharmacy/Pharmaceutical analysis"> Pharmaceutical analysis</a> </li>
                        <li> <a href="/Pharmacy/Pharmaceutical biotechnology"> Pharmaceutical biotechnology</a> </li>
                        <li> <a href="/Pharmacy/Pharmaceutical engineering"> Pharmaceutical engineering</a> </li>
                        <li> <a href="/Pharmacy/Pharmaceutical inorganic chemistry"> Pharmaceutical inorganic chemistry
                            </a> </li>
                        <li> <a href="/Pharmacy/Pharmacognosy microbiology"> Pharmacognosy microbiology </a> </li>
                        <li> <a href="/Pharmacy/Pharmacovigilance organic chemistry"> Pharmacovigilance organic
                                chemistry </a> </li>
                        <li> <a href="/Pharmacy/Pharmaceutical technology"> Pharmaceutical technology </a> </li>
                        <li> <a href="/Pharmacy/Pharma Regulatory science"> Pharma Regulatory science </a> </li>
                        <li> <a href="/Pharmacy/Physical pharmaceutics"> Physical pharmaceutics </a> </li>
                        <li> <a href="/Pharmacy/Social & preventive pharmacy"> Social & preventive pharmacy </a> </li>
                    </ul>
                </li>



                <li>
                    <a class="phm-btn"> Pharmacology
                        <span class="fas fa-caret-down fourteenth buttor"></span>
                    </a>
                    <ul class="phm-show shower ">
                        <li><a href="/Pharmacology/Anti cancer drugs"> Anti cancer drugs</a> </li>
                        <li> <a href="/Pharmacology/Anti inflammatory drugs"> Anti inflammatory drugs </a> </li>
                        <li> <a href="/Pharmacology/Antimicrobial drugs"> Antimicrobial drugs </a> </li>
                        <li><a href="/Pharmacology/Biopharmaceutics"> Biopharmaceutics </a> </li>
                        <li><a href="/Pharmacology/Dental Pharmacology"> Dental Pharmacology</a> </li>
                        <li><a href="/Pharmacology/General Pharmacology"> General Pharmacology</a> </li>
                        <li><a href="/Pharmacology/Pharmacodynamics"> Pharmacodynamics </a> </li>
                        <li><a href="/Pharmacology/Pharmacokinetics"> Pharmacokinetics </a> </li>
                        <li><a href="/Pharmacology/Systematic Pharmacology">Systematic Pharmacology</a> </li>
                    </ul>
                </li>


                <li>
                    <a class="phs-btn"> Physiology
                        <span class="fas fa-caret-down fifteenth buttor"></span>
                    </a>
                    <ul class="phs-show shower ">
                        <li><a href="/Physiology/Animal physiology"> Animal physiology </a> </li>
                        <li><a href="/Physiology/Applied physiology"> Applied physiology </a> </li>
                        <li><a href="/Physiology/Cardiovascular physiology"> Cardiovascular physiology </a> </li>
                        <li><a href="/Physiology/Comparative physiology"> Comparative physiology </a> </li>
                        <li><a href="/Physiology/Defense physiology"> Defense physiology </a> </li>
                        <li><a href="/Physiology/Endocrinology"> Endocrinology </a> </li>
                        <li><a href="/Physiology/Exercise physiology"> Exercise physiology </a> </li>

                        <li><a href="/Physiology/Eco physiology"> Eco physiology </a> </li>
                        <li><a href="/Physiology/Evolutionary physiology"> Evolutionary physiology</a> </li>
                        <li><a href="/Physiology/Gastrointestinal physiology"> Gastrointestinal physiology </a> </li>
                        <li><a href="/Physiology/Mathematical physiology"> Mathematical physiology </a> </li>
                        <li><a href="/Physiology/Microbial physiology"> Microbial physiology</a> </li>
                        <li><a href="/Physiology/Musculoskeletal physiology"> Musculoskeletal physiology</a> </li>
                        <li><a href="/Physiology/Neuro physiology"> Neuro physiology </a> </li>
                        <li><a href="/Physiology/Pathophysiology"> Pathophysiology</a> </li>
                        <li><a href="/Physiology/Plant physiology"> Plant physiology</a> </li>
                        <li><a href="/Physiology/Renal physiology"> Renal physiology</a> </li>

                        <li><a href="/Physiology/Respiratory physiology"> Respiratory physiology </a> </li>
                        <li><a href="/Physiology/Yoga physiology"> Yoga physiology </a> </li>
                    </ul>
                </li>







                <li>
                    <a class="psy-btn"> Psychology
                        <span class="fas fa-caret-down seventeenth buttor"></span>
                    </a>
                    <ul class="psy-show shower ">
                        <li><a href="/Psychology/Clinical psychology"> Clinical psychology </a> </li>
                        <li><a href="/Psychology/Cognitive psychology"> Cognitive psychology </a> </li>
                        <li><a href="/Psychology/Development psychology"> Development psychology</a> </li>
                        <li><a href="/Psychology/Evolutionary psychology"> Evolutionary psychology </a> </li>
                        <li><a href="/Psychology/Forensic psychology"> Forensic psychology </a> </li>
                        <li><a href="/Psychology/Health psychology"> Health psychology </a> </li>
                        <li><a href="/Psychology/Neuropsychology"> Neuropsychology </a> </li>
                        <li><a href="/Psychology/Occupational psychology"> Occupational psychology </a> </li>
                        <li><a href="/Psychology/Social psychology"> Social psychology </a> </li>
                    </ul>
                </li>


                <li><a href="/Recombinant DNA Technology/Recombinant DNA Technology" style="      color: white;
"> Recombinant DNA Technology</a> </li>


                <li>
                    <a class="sur-btn"> Surgery
                        <span class="fas fa-caret-down eighteenth buttor"></span>
                    </a>
                    <ul class="sur-show shower ">
                        <li><a href="/Surgery/Academic surgery"> Academic surgery </a> </li>
                        <li><a href="/Surgery/Cardiothoracic surgery"> Cardiothoracic surgery </a> </li>
                        <li><a href="/Surgery/General surgery"> General surgery </a> </li>
                        <li><a href="/Surgery/Minor surgery"> Minor surgery </a> </li>
                        <li><a href="/Surgery/Neurosurgery"> Neurosurgery </a> </li>
                        <li><a href="/Surgery/Oral & Maxillofacial surgery"> Oral & Maxillofacial surgery </a> </li>
                        <li><a href="/Surgery/Otolaryngology"> Otolaryngology</a> </li>
                        <li><a href="/Surgery/Paediatric surgery"> Paediatric surgery </a> </li>
                        <li><a href="/Surgery/Plastic surgery"> Plastic surgery </a> </li>
                        <li><a href="/Surgery/Rural surgery"> Rural surgery </a> </li>
                        <li><a href="/Surgery/Trauma & Orthopaedic surgery"> Trauma & Orthopaedic surgery </a> </li>

                        <li><a href="/Surgery/Urology"> Urology </a> </li>
                        <li><a href="/Surgery/Vascular surgery"> Vascular surgery </a> </li>
                    </ul>
                </li>



                <li>
                    <a class="the-btn"> Therapy
                        <span class="fas fa-caret-down nineteenth buttor"></span>
                    </a>
                    <ul class="the-show shower ">
                        <li><a href="/Therapy/Aromatheraphy"> Aromatheraphy </a> </li>
                        <li><a href="/Therapy/Art theraphy"> Art theraphy </a> </li>

                        <li><a href="/Therapy/Balneotherapy"> Balneotherapy </a> </li>
                        <li><a href="/Therapy/Biotherapy"> Biotherapy </a> </li>
                        <li><a href="/Therapy/Brachytherapy"> Brachytherapy </a> </li>
                        <li><a href="/Therapy/Cell therapy"> Cell therapy </a> </li>
                        <li><a href="/Therapy/Chelation therapy"> Chelation therapy </a> </li>
                        <li><a href="/Therapy/chemotherapy"> chemotherapy </a> </li>
                        <li><a href="/Therapy/chinese nutrition therapy"> chinese nutrition therapy </a> </li>
                        <li><a href="/Therapy/crystal therapy"> crystal therapy </a> </li>
                        <li><a href="/Therapy/Drug therapy "> Drug therapy </a> </li>
                        <li><a href="/Therapy/ElectroConvulsive therapy"> ElectroConvulsive therapy </a> </li>

                        <li><a href="/Therapy/Exercise therapy"> Exercise therapy </a> </li>

                        <li><a href="/Therapy/Gene therapy"> Gene therapy </a> </li>
                        <li><a href="/Therapy/Immunotherapy"> Immunotherapy </a> </li>
                        <li><a href="/Therapy/Magnet therapy"> Magnet therapy </a> </li>
                        <li><a href="/Therapy/Magneto therapy"> Magneto therapy </a> </li>
                        <li><a href="/Therapy/Manipulative therapy"> Manipulative therapy </a> </li>

                        <li><a href="/Therapy/Massage therapy"> Massage therapy </a> </li>

                        <li><a href="/Therapy/Music therapy"> Music therapy </a> </li>
                        <li><a href="/Therapy/Occupational therapy"> Occupational therapy </a> </li>
                        <li><a href="/Therapy/Pharmacotherapy"> Pharmacotherapy </a> </li>
                        <li><a href="/Therapy/Physiotherapy"> Physiotherapy </a> </li>

                        <li><a href="/Therapy/Radio therapy"> Radio therapy </a> </li>
                        <li><a href="/Therapy/Sex therapy"> Sex therapy </a> </li>
                        <li><a href="/Therapy/Stem cell therapy"> Stem cell therapy </a> </li>


                    </ul>
                </li>


                <li>
                    <a class="yg-btn"> Yogic Science
                        <span class="fas fa-caret-down twentyeeth buttor"></span>
                    </a>
                    <ul class="yg-show shower ">
                        <li><a href="/Yogic Science/Yoga & physical culture"> Yoga & physical culture </a> </li>
                        <li><a href="/Yogic Science/Yoga Therapy"> Yoga Therapy </a> </li>
                    </ul>
                </li>


                <li>
                    <a class="ve-btn "> Veterinary Sciences
                        <span class="fas fa-caret-down twentyoneth buttor"></span>
                    </a>
                    <ul class="ve-show shower">
                        <li><a href="/Veterinary Sciences/Animal Breeding"> Animal Breeding </a> </li>
                        <li><a href="/Veterinary Sciences/Livestock Product Technology"> Livestock Product Technology
                            </a> </li>
                        <li><a href="/Veterinary Sciences/Livestock Production Management"> Livestock Production
                                Management</a>
                        </li>
                        <li><a href="/Veterinary Sciences/Veterinary Anatomy"> Veterinary Anatomy </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Biochemistry"> Veterinary Biochemistry </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Gynaecology & Obstetrics"> Veterinary Gynaecology &
                                Obstetrics
                            </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Medicine"> Veterinary Medicine </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Microbiology"> Veterinary Microbiology </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Parasitology"> Veterinary Parasitology </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Pathology"> Veterinary Pathology </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Physiology"> Veterinary Physiology </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Pharmacology & Toxicology"> Veterinary Pharmacology
                                &
                                Toxicology </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Public Health & Epidemiology"> Veterinary Public
                                Health &
                                Epidemiology </a> </li>
                        <li><a href="/Veterinary Sciences/Veterinary Surgery & Radiology"> Veterinary Surgery &
                                Radiology </a> </li>
                    </ul>
                </li>
                <li>
                    <a class="zg-btn"> Zoology
                        <span class="fas fa-caret-down zoo buttor"></span>
                    </a>
                    <ul class="zg-show">
                        <li><a href="/Zoology/Invertibrates"> Invertibrates </a> </li>
                        <li><a href="/Zoology/Vertibrates"> Vertibrates </a> </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <style>
            /* .box p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
} */
        </style>

        <div class="col-lg-10 col-md-10 col-sm-11 " style="width: 98%;">
            <main role="main" style="background-color: #f0f0f0 !important;">
                <!-- Main Carousel -->


                <!-- Section 1 -->
                <%  
        var newse = art.filter(function(val){
           return val.subHeading == "news";
        })
        %>


                <section class="section background-white" style="background-color: #f0f0f0 !important;" >

                    <div class="line">
                        

                        <div class="margin" style="margin-top: -10% ;">
                                        <%   newse.forEach(function(news){ %>

                            <div class="s-12 m-12 l-4 margin-m-bottom" id="mla">
                                <img class="margin-bottom" src="<%= news.coverImage  %>" alt="something">
                                <div style="height:100px;">
<h2 class="text-thin tcut"><%= news.title %></h2>
<p class="pcut"><%= news.shortDescription %></p>
                                </div>
                                
                                <a class="text-more-info text-primary-hover"
                                    href="/<%= news.mainHeading %>/<%= news.subHeading %>/<%= news._id %>">Read
                                    more</a>
                            </div>
                     <%               })  %>

                            
                        </div>
                    </div>
                </section>

               
               
<div id="pagination-container">

</div>

           
                <!-- FOOTER -->
            </main>
        </div>

        <script type="text/javascript">

            $('#news').addClass('active');

            // jQuery Plugin: http://flaviusmatis.github.io/simplePagination.js/

            var items = $(".margin #mla");
            var numItems = items.length;
            var perPage = 15;

            items.slice(perPage).hide();

            $('#pagination-container').pagination({
                items: numItems,
                itemsOnPage: perPage,
                prevText: "&laquo;",
                nextText: "&raquo;",
                onPageClick: function (pageNumber) {
                    var showFrom = perPage * (pageNumber - 1);
                    var showTo = showFrom + perPage;
                    items.hide().slice(showFrom, showTo).show();
                }
            });


        </script>


    </div>


    <script>
    $('body').ready(function () {
        $('#secure').click(function () {

            $('#timesm').toggle();
            $('#naa').css("height", "80px");
        })
    })
        $('nav ul li').click(function () {
            $(this).addClass("active").siblings().removeClass("active");

        });

    // --------------------new ------------------------


    </script>
    <script type="text/javascript" src="js/responsee.js"></script>
    <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="js/template-scripts.js"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <br>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Main -->
    <script src="js/main.js"></script>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script> -->
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/mani.js"></script>
    <%- include('partials/footertemplate.ejs'); -%>

</body>

</html>