<%- include('partials/header.ejs'); -%>

    <style>
    	@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
 margin: 0;
 padding:0; 
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;	
	
}	
body{
    background: whitesmoke;

}

footer{
	background: #1c2331;
  /* position: absolute;
  width: 100%;
  left: 0;
  bottom: -40%; */
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2){
  footer{
	background: #1c2331;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10% !important;
}
}
.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: relative;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: scroll !important;
    margin-top: -30px;
    left: 100%;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }
    #div{
      margin-top:43.5%;
    }
    /* #email{
    font-size:2.4vw !important;

} */

}



.flip-card {
  background-color: transparent;
  max-width: 375px;
  max-height: 470px;
  width: 60vw;
  height: 65vh;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(173,216,230);
  color: black;
}

.flip-card-back {
  background: rgb(173,216,230);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(115,191,140,1) 100%, rgba(253,187,45,1) 100%);
  color: white;
  transform: rotateY(180deg);
}
.icc{
 width:35px;height:35px;
}
.icc:hover{
 opacity:0.6;
}



    </style>

  </head>
  <body>
   
   

<% if(error.length>0){%>
<div class="alert alert-danger container" style="margin-top:0px;"><%=error%></div>
<% }if(success.length>0){%>
<div class="alert alert-success container" style="margin-top:0px;"><%=success%></div>
<% } %> 


<div class="flip-card mx-auto " style="margin-top:5%;margin-bottom: 17%;" >
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png" style="width:60%;height:250px;">
      <hr style="width:80%;margin-left:10%;background:#000000">
            <h2 style="margin-top:10px"><b><%= foundUser.fullName %></b></h2>
            <h3 style="margin-top:10px;font-size: 0.8rem;"><%= foundUser.email %></h3>
            <p style="opacity:0.8;font-size:20px"><%= foundUser.college %></p>
            <h4 style="color:#ff1a1a;margin-leftt:50%;text-decoration:underline;opacity:0.8"><strong>Edit Profile</strong></h4>
        
    </div>
    <div class="flip-card-back" style="height:550px;margin-bottom: 10%;" >
       <h1 style="color:#000000;margin-top:10px">Edit Profile</h1>
            <form action="/profilenav/update?_method=PUT" method="POST">
                <div class="form-group" style="color:#000000;margin-top:15px">Full Name<input type="text" placeholder="fullName" name="fullName" required class="form-control" style="margin-top:5px;margin-left:27px;width:80%;" value="<%= foundUser.fullName %>"></div>
                <div class="form-group" style="color:#000000;margin-top:10px">Email<input type="text" placeholder="email" name="email" required class="form-control" style="margin-top:5px;margin-left:27px;width:80%" value="<%= foundUser.username %>"></div>
                <div class="form-group" style="color:#000000;margin-top:10px">Username<input type="text" placeholder="username" name="username" required class="form-control" style="margin-top:5px;margin-left:27px;width:80%" value="<%= foundUser.email %>"></div>
                <div class="form-group" style="color:#000000;margin-top:10px">College<input type="text" placeholder="college" name="college" required class="form-control" style="margin-top:5px;margin-left:27px;width:80%" value="<%= foundUser.college %>"></div>
                <div clas="form-group" style="color:#000000;margin-top:10px">UserId<input type="text" placeholder="userId" name="userId" required class="form-control" style="margin-top:5px;margin-left:27px;width:80%" value="<%= foundUser._id %>" readonly></div>
                <div class="form-group" style="color:#000000;margin-top:17px;"><button class="btn btn-danger" style="width:60%">Submit</button></div>
            </form>
    </div>
  </div>
</div>

       


 

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>
<br>
<div>

</div>
<%- include('partials/footertemplate.ejs'); -%>


  </body>
</html>