<%- include('partials/header.ejs'); -%>


<div class="col-lg-9   col-sm-11 kula major center" style="background:#ffffff;margin-left:3%;padding:20px 15px;padding-right:25px; margin-top:10px;text-align: justify" id="main">
 
 <h3 style="text-align:center;;"><%= art.title %></h3>
 <h5 style="text-align:center;padding-top:10px;text-align: justify;"><%= art.shortDescription %></h5>
 
 <a href="/<%= art.mainHeading %>/<%= art.subHeading %>" style="float:right;text-decoration:underline;padding-top:15px">Go Back</a>
 <p style="font-size:17px;margin-top:80px"><%- art.description %></p>
 <h6 style="float:left;padding-top:15px">Written By: <%= art.author%></h6>
 
	
</div>
<div class="col-lg-1 col-md-11 col-sm-11 kula" style="margin-left:10px;background:#ffffff;padding-top:20px;margin-top:10px;width:15%;min-width: 12% !important;">
    <h5>AD Comes here</h5>
</div>

<script type="text/javascript">
  
  // jQuery Plugin: http://flaviusmatis.github.io/simplePagination.js/

var items = $(".list-wrapper .list-item");
    var numItems = items.length;
    var perPage = 14;

    items.slice(perPage).hide();

    $('#pagination-container').pagination({
        items: numItems,
        itemsOnPage: perPage,
        prevText: "&laquo;",
        nextText: "&raquo;",
        onPageClick: function (pageNumber) {
            var showFrom = perPage * (pageNumber - 1);
            var showTo = showFrom + perPage;
            items.hide().slice(showFrom, showTo).show();
        }
    });
  
</script>


</div>


 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>
<!-- Footer -->






<%- include('partials/footertemplate.ejs'); -%>


</body>

</html>