<%- include('partials/header.ejs'); -%>

<style>
  @charset "UTF-8";
:root {
  --var-padding: 1em;
  --highlight: hsl(230, 38%, 46%);
  --highlight-dark: hsl(230, 38%, 36%);
  --logo-width: 6em;
  --logo-offset: 1em;
  --main-column-width: 17em;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  border-box: inherit;
}

.app {
  position: relative;
  padding-left: .5em;
  max-width: 60em;
  background: #acbbd7 100% -webkit-gradient(linear, left top, left bottom, from(#6a696d), color-stop(50%, #504949), color-stop(50%, #acbbd7), to(#acbbd7));
  background: #acbbd7 100% linear-gradient(#6a696d 0%, #504949 50%, #acbbd7 50%, #acbbd7 100%);
  background-size: auto 10em;
  background-repeat: repeat-x;
  background-position: center top;
}

header {
  position: relative;
  height: 10em;
  width: 98% !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-top:2% !important;
  grid-row: 1 / 3;
  grid-column: 2;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/154571/bla.jpg");
  background-size: cover;
  background-position: right center;
}
header a {
  position: absolute;
  top: var(--logo-offset);
  left: var(--logo-offset);
  display: block;
  width: var(--logo-width);
}
header img {
  display: block;
  max-width: 100%;
  height: 100%;
  margin-top: 2% !important;
}


main {
  padding: var(--var-padding);
  grid-row: 2;
  grid-column: 1;
  margin-top: 2% !important;
  background: #fff;
  min-height: 200px !important;
}
main h1 {
  margin-top: 0;
  font-weight: normal;
}
main h1 span {
  display: block;
  color: var(--highlight);
  font-weight: bolder;
}
main h1 sub {
  font-size: .5em;
}
main a {
  color: var(--highlight);
  text-decoration: none;
}
main a::after {
  margin-left: 1.5em;
  content: '→';
  vertical-align: baseline;
}
main a:hover, main a:focus {
  color: var(--highlight-dark);
}
main a:hover::after, main a:focus::after {
  margin-left: 2em;
}

html {
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.5;
  background: linear-gradient(45deg, #f1f0ef, #d1cac7);
  background-repeat: no-repeat;
  background-size: cover;
}

.pcut{

   max-width: 400px; 
   height: 50px;
   font-size: 15px;
   text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis !important; 

    }
.tcut{
   max-width: 420px !important; 
   text-align: justify;
   font-size: 18px;

    }
@media (min-width: 37.5em) {
  :root {
    --var-padding: 3em;
  }


  .app {
    display: grid;
    margin: 1em auto;
    padding-top:-10px !important;
    grid-template-rows: 5em auto;
    grid-template-columns: 1.4fr 1fr;
    padding-left: 2em;
    background-size: auto;
  }
  .app::after {
    position: absolute;
    right: 1em;
    left: 1em;
    bottom: 0;
    z-index: -1;
    width: 95%;
    height: 200px;
    content: '';
    box-shadow: 0 0 5em #7d604f;
  }

  header {
    height: auto;
  }
  header a {
    right: var(--logo-offset);
    left: auto;
  }
     justify-content: space-between;
  }

  main {
    min-width: var(--main-column-width);
    
  }
}

</style>













<div class="col-lg-7 col-md-7 col-sm-8" id="main">
 <% art.forEach(function(art){   %>

<div class="app" style="border-radius: 8px;box-shadow: 2px 15px 16px black; max-width: 90%;margin:6% 4%">
  <header style="background-image:url('<%= art.coverImage %>');">
   
  </header>

  <main style="max-width: 95% !important;max-height: 100% !important;margin-top: -15%; padding: 20px 20px;min-height: 180px;">
    <h3 class="tcut"><%= art.title %></h3>
    <p class="pcut"><%= art.shortDescription %>
      </p>
    <a href="/<%= art.mainHeading %>/<%= art.subHeading %>/<%= art._id %>">Read full article</a>
  </main>
</div>


 <%   })   %>


<!--   
  <section class="section background-white" style="margin-top:-10%;background-color: #f0f0f0 !important;min-height: 100vh;">
    <div class="line">
      <h3 id="kic"
        style="height: 50px;color: snow;width: 100%;background-color: #002B5C !important;margin-top: 14%;margin-bottom:3%;padding: 5px 20px;font-weight: bold;border-radius: 5px;">
        Medical Articles</h3>
  
  
      <div class="item">
  
  
        <div class="s-12 m-12 l-8 col-md-12 col-lg-12 col-sm-12">
          <div class="image-border-radius margin-m-bottom" style="background-color: snow;border-radius: 5px;max-height: 200px; ">
            <div class=" row" style="text-align: center;">
              <div class="s-12 m-12 l-4 margin-m-bottom col-lg-4 col-md-4 col-sm-10">
                <a class="image-hover-zoom"  href="/"><img style="max-height: 200px; width:100%;"
                    src="<%= art.coverImage  %> https://image.shutterstock.com/image-vector/search-icon-modern-flat-600w-319741109.jpg" alt=""></a>
              </div>
              <div class="s-12 m-12 l-8 margin-m-bottom col-lg-7 col-md-8 col-sm-10 mt-2" style="background-color: blue;width: 100%;margin:2% auto;">
                <h3><a class="text-dark text-primary-hover" href="/"><%= art.title %> fafdsfsfsdf</a></h3>
                <p><%= art.shortDescription %> fafsdfdsf</p>
                <a class="text-more-info text-primary-hover"
                  href="/<%= art.mainHeading %>/<%= art.subHeading %>/<%= art._id %>">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </section> -->
	
</div>
</div>

<script type="text/javascript">
  
  // jQuery Plugin: http://flaviusmatis.github.io/simplePagination.js/

var items = $(".list-wrapper .list-item");
    var numItems = items.length;
    var perPage = 14;

    items.slice(perPage).hide();

    $('#pagination-container').pagination({
        items: numItems,
        itemsOnPage: perPage,
        prevText: "&laquo;",
        nextText: "&raquo;",
        onPageClick: function (pageNumber) {
            var showFrom = perPage * (pageNumber - 1);
            var showTo = showFrom + perPage;
            items.hide().slice(showFrom, showTo).show();
        }
    });
  
</script>




<script>

$('.openbtn').on("click",function(){
 $('.sidebar').fadeOut(100);
})

    $(document).ready(function () {

      $('.navbar-toggler').click(function () {
        $('#filter').toggle();
      })
      $('.bim-btn').click(function () {


        $('.shower').not('.bim-show').removeClass("show20");
        $('.buttor').not('nav ul .kle').removeClass("rotate");

        $('nav ul .bim-show').toggleClass("show20");
        $('nav ul .kle').toggleClass("rotate");
      });

      $('.zg-btn').click(function () {
        $('nav ul .zg-show').toggleClass("show60");
        $('nav ul .kle').toggleClass("rotate");
      });
    })

    $('.openbtn').on("click", function () {
      $('.sidebar').fadeOut(100);
    })

    $('.feat-btn').click(function () {


      $('.shower').not('.feat-show').removeClass("show20");
      $('.buttor').not('.first').removeClass("rotate");
      $('nav ul .feat-show').toggleClass("show20");
      $('nav ul .first').toggleClass("rotate");
    });


    $('.an-btn').click(function () {
      $('.shower').not('.an-show').removeClass("show20");
      $('.buttor').not('.third').removeClass("rotate");
      $('nav ul .an-show').toggleClass("show20");
      $('nav ul .third').toggleClass("rotate");
    });

    $('.ant-btn').click(function () {
      $('.shower').not('.ant-show').removeClass("show20");
      $('.buttor').not('.fourth').removeClass("rotate");
      $('nav ul .ant-show').toggleClass("show20");
      $('nav ul .fourth').toggleClass("rotate");
    });

    $('.bi-btn').click(function () {
      $('.shower').not('.bi-show').removeClass("show20");
      $('.buttor').not('.fourth').removeClass("rotate");
      $('nav ul .bi-show').toggleClass("show20");
      $('nav ul .fourthh').toggleClass("rotate");
    });

    $('.bio-btn').click(function () {
      $('.shower').not('.bio-show').removeClass("show20");
      $('.buttor').not('.sixth').removeClass("rotate");
      $('nav ul .bio-show').toggleClass("show20");
      $('nav ul .sixth').toggleClass("rotate");
    });

    $('.bip-btn').click(function () {
      $('.shower').not('.bip-show').removeClass("show20");
      $('.buttor').not('.fifth').removeClass("rotate");
      $('nav ul .bip-show').toggleClass("show20");
      $('nav ul .fifth').toggleClass("rotate");
    });

    $('.co-btn').click(function () {
      $('.shower').not('.co-show').removeClass("show20");
      $('.buttor').not('.sixthh').removeClass("rotate");
      $('nav ul .co-show').toggleClass("show20");
      $('nav ul .sixthh').toggleClass("rotate");
    });

    $('.den-btn').click(function () {
      $('.shower').not('.den-show').removeClass("show20");
      $('.buttor').not('.seventh').removeClass("rotate");
      $('nav ul .den-show').toggleClass("show20");
      $('nav ul .seventh').toggleClass("rotate");
    });

    $('.med-btn').click(function () {
      $('.shower').not('.med-show').removeClass("show20");
      $('.buttor').not('.eight').removeClass("rotate");
      $('nav ul .med-show').toggleClass("show20");
      $('nav ul .eigth').toggleClass("rotate");
    });

    $('.mib-btn').click(function () {
      $('.shower').not('.mib-show').removeClass("show20");
      $('.buttor').not('.nineth').removeClass("rotate");
      $('nav ul .mib-show').toggleClass("show20");
      $('nav ul .nineth').toggleClass("rotate");
    });

    $('.mir-btn').click(function () {
      $('.shower').not('.mir-show').removeClass("show20");
      $('.buttor').not('.tenth').removeClass("rotate");
      $('nav ul .mir-show').toggleClass("show20");
      $('nav ul .tenth').toggleClass("rotate");
    });

    $('.oc-btn').click(function () {
      $('.shower').not('.oc-show').removeClass("show20");
      $('.buttor').not('.eleventh').removeClass("rotate");
      $('nav ul .oc-show').toggleClass("show20");
      $('nav ul .eleventh').toggleClass("rotate");
    });

    $('.pat-btn').click(function () {
      $('.shower').not('.pat-show').removeClass("show20");
      $('.buttor').not('.twelth').removeClass("rotate");
      $('nav ul .pat-show').toggleClass("show20");
      $('nav ul .twelth').toggleClass("rotate");
    });

    $('.pha-btn').click(function () {
      $('.shower').not('.pha-show').removeClass("show20");
      $('.buttor').not('.thirteenth').removeClass("rotate");
      $('nav ul .pha-show').toggleClass("show20");
      $('nav ul .thirteenth').toggleClass("rotate");
    });

    $('.phm-btn').click(function () {
      $('.shower').not('.phm-show').removeClass("show20");
      $('.buttor').not('.fourteenth').removeClass("rotate");
      $('nav ul .phm-show').toggleClass("show20");
      $('nav ul .fourteenth').toggleClass("rotate");
    });

    $('.phs-btn').click(function () {
      $('.shower').not('.phs-show').removeClass("show20");
      $('.buttor').not('.fifteenth').removeClass("rotate");
      $('nav ul .phs-show').toggleClass("show20");
      $('nav ul .fifteenth').toggleClass("rotate");
    });

    $('.phsi-btn').click(function () {
      $('.shower').not('.phsi-show').removeClass("show20");
      $('.buttor').not('.sixteenth').removeClass("rotate");
      $('nav ul .phsi-show').toggleClass("show20");
      $('nav ul .sixteenth').toggleClass("rotate");
    });

    $('.psy-btn').click(function () {
      $('.shower').not('.psy-show').removeClass("show20");
      $('.buttor').not('.seventeenth').removeClass("rotate");
      $('nav ul .psy-show').toggleClass("show20");
      $('nav ul .seventeenth').toggleClass("rotate");
    });

    $('.sur-btn').click(function () {
      $('.shower').not('.sur-show').removeClass("show20");
      $('.buttor').not('.eighteenth').removeClass("rotate");
      $('nav ul .sur-show').toggleClass("show20");
      $('nav ul .eighteenth').toggleClass("rotate");
    });

    $('.the-btn').click(function () {
      $('.shower').not('.the-show').removeClass("show20");
      $('.buttor').not('.nineteenth').removeClass("rotate");
      $('nav ul .the-show').toggleClass("show20");
      $('nav ul .nineteenth').toggleClass("rotate");
    });

    $('.yg-btn').click(function () {
      $('.shower').not('.yg-show').removeClass("show20");
      $('.buttor').not('.twentyeeth').removeClass("rotate");
      $('nav ul .yg-show').toggleClass("show20");
      $('nav ul .twentyeeth').toggleClass("rotate");
    });

    $('.ve-btn').click(function () {
      $('.shower').not('.ve-show').removeClass("show20");
      $('.buttor').not('.twentyoneth').removeClass("rotate");
      $('nav ul .ve-show').toggleClass("show20");
      $('nav ul .twentyoneth').toggleClass("rotate");
    });

    $('nav ul li').click(function () {
      $(this).addClass("active").siblings().removeClass("active");
    });
  
 </script>
 

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <br>
  <br>

<!-- Footer -->


<script>

  $(document).ready(function () {

    $('.navbar-toggler').click(function () {
      $('#filter').toggle();
    })
  })


  // --------------------new ------------------------
  function openNav() {
    document.getElementById("sidenav").style.width = "75vw";
    document.getElementById("sidenav").style.left = "0px";
    $('#filter').hide();
    // document.getElementById("main").style.marginLeft = "300px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    $('#main').css({ "filter": "blur(8px)" });
    // $('#main').css({"opacity":"0.3"});
    $('#sidenav').css({ "opacity": "1" });

    document.html.style.backgroundColor = "rgba(0,0,0,0.4)";
  }

  function closeNav() {
    document.getElementById("sidenav").style.width = "0";
    // document.getElementById("main").style.marginLeft = "0";
    document.getElementById("sidenav").style.left = "-30px";
    $('#filter').show();
    $('button a').css({ "font-size": "12px" });
    $('#main').css({ "filter": "blur(0px)" });


    document.body.style.backgroundColor = "whitesmoke";
    // $('#main').css({ "margin-left": "10%" });

  }

  $('#sidenav ul li a[href="#"]').click(function () {
    closeNav();
  })
</script>
<footer class="page-footer font-small " style="padding:40px 70px;width: 100%;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 col-sm-12 " id="mobi">

        <!-- Content -->

        <div style="justify-content: space-between;margin-left: -10%;">
          <h5 class="text-uppercase " id="timesk"
            style="margin-left:10%;margin-top: 0%;font-weight: 500 !important;margin-bottom: 3%;color:whitesmoke"><img
              src="https://i.ibb.co/vx5zDFF/picc.jpg"  style="width:50px;height:50px;border-radius:22px;"> My Medical Times</h5>

          <a href="#" id="email" style="color:#ffffff;" style="margin-left: 18%;"><i class="fas fa-envelope fa-sm"
              style="margin-left: 10%;"></i> mymedicaltimes@gmail.com </a>
          <br>
          <div class="social-buttons " id="buts" style="margin-top: 4%;margin-bottom: 6%; text-decoration: none;">
            <a href="#" class="social-buttons__button social-button social-button--facebook"
              style="text-decoration: none;" aria-label="Facebook">
              <span class="social-button__inner">
                <i class="fab fa-facebook-f"></i>
              </span>
            </a>
            <a href="#" class="social-buttons__button social-button social-button--linkedin"
              style="text-decoration: none;" aria-label="LinkedIn">
              <span class="social-button__inner">
                <i class="fab fa-linkedin-in"></i>
              </span>
            </a>

            <a href="#" class="social-buttons__button social-button social-button--youtube"
              style="text-decoration: none;" aria-label="YouTube">
              <span class="social-button__inner">
                <i class="fab fa-youtube" style="background-color: white;color:red"></i>
              </span>
            </a>
            <a href="#" class="social-buttons__button social-button social-button--twitter"
              style="text-decoration: none;" aria-label="CodePen">
              <span class="social-button__inner">
                <i class="fab fa-twitter" style="color:skyblue"></i>
              </span>
            </a>
          </div>
        </div>





      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 col-lg-3" id="f-foot">


        <ul class="list-unstyled">
          <li style="margin-bottom:10px">
            <a href="#" style="color: #FE3633;font-size: larger;"><b>Company</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/aboutus" style="color:#ffffff;">About us</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/privacy-policy" style="color:#ffffff;">Privacy Policy</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/t&c" style="color:#ffffff;">Terms & Conditions</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/contactus" style="color:#ffffff;">Contact Us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 col-lg-3" id="l-foot">

        <ul class="list-unstyled">
          <li style="margin-bottom:10px">
            <a href="#" style="color: #FE3633;font-size: larger;"><b>Articles</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="#!" style="color:#ffffff;">Sitemap</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/applyintern" style="color:#ffffff;">Internships</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/writearticle" style="color:#ffffff;">Write an article</a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/writereview" style="color:#ffffff;">Write a review</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->




    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright  "
    style="text-align: center;font-size:15px;opacity:0.8; background-color: #B1D4E0;color: black;width: 100%;height: 40px;position: absolute;bottom: 10;left: 0;">
    <i class="far fa-copyright" style="color: black;"></i> My Medical Times, All rights reserved
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  </body>
</html>